# Ignore datasets
genres_full/
genres_medium/
genres_small/

# Ignore .idea folder
.idea/

# Ignore large .json file
MFCC Classifiers/data_full.json
Mel Spectogram Classifiers/data_full.json

# Ignore Transformer file for the moment
Mel Spectogram Classifiers/4. AudioSpectogramTransformer.ipynb