# Ignore datasets
.genres_full/
.genres_medium/
.genres_small/

# Ignore .idea folder
.idea/

# Ignore sounts folder
sounds/

# Ignore large .json files
AST-Tuned Mel Spectrogram Classifiers/**/*.json
AST-Tuned Mel Spectrogram Classifiers/**/*.pt

Mel Spectrogram Classifiers/**/*.json
Mel Spectrogram Classifiers/**/*.pt

MFCC Classifiers/**/*.json
MFCC Classifiers/**/*.pt

# Various ignored files